{% extends "base.html" %}
{% block title %} - Panel eksperymentatora{% endblock %}
{% block content %}
  <div id='settings-view'>
    <h2 id='settings-header'>Ustawienia ogólne</h2>
    <form id='setting-inputs' onsubmit='return acceptSettings(event)'>
      <div class='input-label'>Dopuszczony czas bez klikania w zadaniu GIL:</div>
      <input type='number' id='k-time' value='{{ general.k_time }}' required>

      <div class='input-label'>Tekst powitalny:</div>
      <textarea id='welcome-text'>{{ general.welcome_text }}</textarea>

      <div class='input-label'>Podziękowania:</div>
      <textarea id='thanks-text'>{{ general.thanks_text }}</textarea>
      
      <input type='submit' id='accept-settings' value='Zatwierdź'>
    </form>
  </div>
  <script>
    async function acceptSettings(e) {
      e.preventDefault();

      if (document.getElementById('k-time').value == "" || isNaN(document.getElementById('k-time').value)) {
        return;
      }

      await fetch('/submit-general-settings', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          k_time: parseInt(document.getElementById('k-time').value),
          welcome_text: document.getElementById('welcome-text').value,
          thanks_text: document.getElementById('thanks-text').value
        })
      })
      
      window.location.href = '/settings';
    }
  </script>
{% endblock %}