{% extends "settings-base.html" %}
{% block settings_header %}Panel eksperymentatora{% endblock %}
{% block settings_list %}
  <a class='settings-anchor' href='settings/modes'>Wybór trybu badawczego</a>
  <a class='settings-anchor' href='settings/stages'>Ustawienia etapów</a>
  <a class='settings-anchor' href='settings/general'>Ustawienia ogólne</a>
  <a class='settings-anchor' href='settings/tasks'>Edytuj zadania selekcyjne</a>
  <a class='settings-anchor' href='settings/pilot'>Ustawienia trybu pilotażowego</a>
  <a class='settings-anchor' href='/download-recent-csv'>Pobierz plik csv z danymi z ostatniej sesji</a>
{% endblock %}