extends bases/single-mid-base

block title-block
  - var single_mid_title = `Witaj, ${username}!`

block single-mid-content
  form(method="post" action="/change-password")
    input(type="hidden" name="_csrf" value=csrfToken)
    
    label(for="password") Nowe hasło:
    input(id="password" type="password" name="password")
    input(type="submit" value="Zmień")
  a(class="back-button" href="/") Powrót